<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ブログ編集</title>
	<link rel="stylesheet" th:href="@{/css/all.min.css}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Alike&family=Kolker+Brush&family=Murecho:wght@100..900&family=Rampart+One&family=Shizuru&family=Slackside+One&family=Tsukimi+Rounded&family=Yuji+Hentaigana+Akebono&family=Zen+Maru+Gothic&display=swap"
		rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Murecho:wght@100..900&family=Rampart+One&family=Shizuru&family=Slackside+One&family=Tsukimi+Rounded&family=Yuji+Hentaigana+Akebono&family=Zen+Maru+Gothic&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/blog_all.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css}">

</head>

<body>
	<!--header-->
	<header>
		<div class="hd-con">
			<div class="hd-btn">
				<input id="searchInput" class="fas" type="text" placeholder="検索">
			</div>
			<div>
				<ul class="hd-icon">
					<li>
						<a th:href="@{https://x.com/X}">
							<i class="fab fa-twitter-square"></i>
						</a>
					</li>
					<li>
						<a th:href="@{https://www.facebook.com/TwitterInc}">
							<i class="fab fa-facebook-square"></i>
						</a>
					</li>
					<li>
						<a th:href="@{https://www.instagram.com/twitter/}">
							<i class="fab fa-instagram"></i>
						</a>
					</li>
					<li>
						<a th:href="@{https://line.me/en/}">
							<i class="fab fa-line"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>


		<div class="hd-menu">
			<!-- userName表示-->
			<div class="hd-name">
				<p th:text="${userName}">さん</p>
			</div>

			<!--メニューリスト-->
			<ul class="hd-item">
				<li class="hd-list-item"><a th:href="@{/blog/all}">ホーム</a></li>
				<li class="hd-list-item"><a th:href=" @{/blog/list}">記事一覧</a></li>
				<li class="hd-list-item"><a th:href="@{/category/all}">カテゴリ一覧</a></li>
				<li class="hd-list-item">
					<a th:href="@{/blog/logout}">ログアウト</a>
				</li>

			</ul>
		</div>

	</header>

	<main>
		<div>
			<section class="main-inner">
				<h2>記事編集画面</h2>
				<form th:action="@{/blog/update}" method="post" enctype="multipart/form-data">
					<div class="form-con">
						<div class="reg-text">
							<div>タイトル</div>
							<input type="text" name="blogTitle" th:value="${blogs.blogTitle}">
						</div>

						<div class="reg-text">
							<div>カテゴリー名</div>
							<select id="reg-text-op" name="categoryName">
								<option th:each="category : ${categoryList}" th:value="${category.categoryName}">
									<span th:text="${category.categoryName}"></span>
								</option>

							</select>
						</div>


						<div class="reg-text">
							<div>登録済み画像</div>
							<img id="reg-img" th:src="@{/blog-image/{items}(items=${blogs.blogImage})}" alt="">
						</div>

						<div class="reg-text">
							<div>ブログ画像</div>
							<input type="file" name="blogImage" th:value="${blogs.blogImage}">
						</div>

						<div class="reg-text">
							<div>更新時間</div>
							<input type="datetime-local" name="updateTime" th:value="${formattedDateTime}" required>
						</div>

						<div class="reg-text">
							<div>メッセージ</div>
							<textarea name="article" th:text="${blogs.article}" id=""></textarea>
						</div>

						<input type="hidden" name="userId" th:value="${userId}">
						<input type="hidden" name="blogId" th:value="${blogs.blogId}">


						<div class="reg-text">
							<button class="reg-btn">更新</button>
							<button class="back-btn" onclick="history.back();" type="button">戻る</button>
						</div>
					</div>
				</form>
				<div class="reg-text">
					<div id="reg-form">
						<form th:action="@{/blog/delete}" method="post">
							<input type="hidden" name="blogId" th:value="${blogs.blogId}">
							<button class="reg-de-btn">削除</button>
						</form>

					</div>

				</div>

			</section>
		</div>
	</main>

	<footer>
		<p>&copy;2024 MyBlog Style</p>
	</footer>



	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script th:src="@{/js/common.js}"></script>


</body>

</html>